body{
    background: #eee;
}
#headerH1{
    margin-left: 1%;
}
.headerContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: burlywood;
    border-radius: 10px;
    border:black solid 2px;
}
#headerAnchors{
    position: relative;
    top: 25px;
    text-align: right;
    margin-right: 1%;
}
p{
    border:black solid 2px;
    background: burlywood;
    width: 800px;
    border-radius: 10px;
    margin: 2% auto 2% auto;
    text-align: center;
      
}
.boxAnimate{
    border:black solid 2px;
    background: burlywood;
    width: 800px;
    margin: 2% auto auto auto;
    height: 400px;
}
#innerBox{
    position:relative;
    left:5px;
    top: 5px;
    border-radius: 15px;
    background: blue;
    width:25px;
    height: 25px;
}
#enemy{
    position:relative;
    left:200px;
    top: -25px;
    border-radius: 15px;
    background: red;
    width:25px;
    height: 25px;
}
#victory{
    color: white;
    display: none;
    background: maroon;
    text-align: center;
    margin: auto;
}
